pin-depends: [
  ["js_top_worker.0.0.0" "git+https://github.com/jonludlam/js_top_worker#main"]
  ["js_top_worker-client.0.0.0" "git+https://github.com/jonludlam/js_top_worker#main"]
  ["code-mirror.0.0.0" "git+https://github.com/patricoferris/jsoo-code-mirror.git#main"]
]
